<%= login unless logged_in? %>
<p>Welcome to the (open) alpha of the <b><%= settings.app_name  %></b> system.  Please report any problems to <a href="mailto:vanceza@gmail.com">Zachary</a>.</p>

<div align="center">
<a class="twitter-timeline" href="https://twitter.com/forgetio" data-widget-id="339149364066910208" data-chrome="noscrollbar">Tweets by @forgetio</a>
</div>

<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
